body{
  background-color: rgb(49, 46, 46);
  
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
h2{
  text-align: center;
  color: #fff;
}
.button-container{
  margin-bottom: 30px;
}
.button-container button{
  margin-right: 7px;
  width: 120px;
  height: 35px;
  cursor: pointer;
}
select{
  margin-left: 35%;
  width: 200px;
  height: 30px;
}
